section.home-about#sobre
  .wrapper
    h2 Quem somos
    h3 Conheça mais sobre a nossa plataforma, e por que acreditamos que ela é ideal para você.
    p A 
      strong iBroker Corretora de Seguros, 
      é uma plataforma para comércio e administração eletrônicos de seguros - que surgiu com a intenção de revolucionar o mercado de seguros, não somente no Brasil, mas ao redor de todo o mundo. Toda a estruturação da empresa foi baseada na experiência de corretores profissionais com mais de 30 anos de atuação em seguros de todos os tipos.
    p Desenvolvemos uma vitrine eletrônica dinâmica e agradável para que você tenha a melhor experiência na hora de cotar e contratar um seguro. Entretanto, o sistema iBroker não é apenas mais um site de vendas de seguros: Promovemos a união do mercado digital com estruturas reais de atendimento.
    p Além de todos os sistemas que disponibilizamos através do site, oferecemos aplicativos para Android e IOS, todos oferecendo a melhor experiência possível ao segurado quando da cotação e efetivação do seu seguro.
    p E, mais importante ainda, todas as nossas operações são seguradas pelas principais seguradoras brasileiras e internacionais.
    p Em suma, somos o seu próximo corretor de seguros!
