section.home-advantages#vantagens
  .wrapper
    h2 Conheça nossas vantagens
    ul
      li
        .advantage-icon
          img(src='img/advantages/1.png', alt='')
        p Você pode cotar o seu seguro com agilidade através de uma interface agradável, no seu computador, celular ou tablet
      li
        .advantage-icon
          img(src='img/advantages/2.png', alt='')
        p Caso tenha alguma dúvida mesmo antes do fechamento, será atendido por um corretor de seguros profissional da nossa ampla rede
      li
        .advantage-icon
          img(src='img/advantages/3.png', alt='')
        p Após a contratação, a qualquer momento você terá o acompanhamento de um corretor, principalmente na eventualidade de ocorrência de um sinistro
      li
        .advantage-icon
          img(src='img/advantages/4.png', alt='')
        p Você sempre terá acesso aos dados dos seguros contratados, através do meio que preferir, eletrônico ou contato pessoal
      li
        .advantage-icon
          img(src='img/advantages/5.png', alt='')
        p Todos os sinistros amparados pelas apólices poderão ser comunicados através dos aplicativos, site ou telefonema
      li
        .advantage-icon
          img(src='img/advantages/6.png', alt='')
        p Os sinistros também poderão ser acompanhados pelo meio preferido, até a sua conclusão e pagamento
