section.home-insurances#seguros
  .wrapper
    article
      .insurance-icon
        i
      h2 Seguro Portáteis
      p.home-insurance-description Proteja seu computador, notebook, tablet, smartphone, câmera e fique tranquilo com eventualidades.
      a(href='#TODO-INSURANCE_QUOTATION') Cotar agora
    
    article
      .insurance-icon
        i
      h2 Seguro Viagem
      p.home-insurance-description Sua viagem mais tranquila com suporte para emergências, doenças, e até extravio de bagagens.
      a(href='#TODO-INSURANCE_QUOTATION') Cotar agora
      
    article
      .insurance-icon
        i
      h2 Seguro Vida
      p.home-insurance-description Viva tranquilamente com uma proteção completa para você.      
      a(href='#TODO-INSURANCE_QUOTATION') Cotar agora
      
    article
      .insurance-icon
        i
      h2 Seguro Residência
      p.home-insurance-description Garanta a tranquilidade da sua casa se prevenindo de eventualidades.
      a(href='#TODO-INSURANCE_QUOTATION') Cotar agora
      
    article
      .insurance-icon
        i
      h2 Seguro Resp. civil e profissional
      p.home-insurance-description Evite surpresas desagradáveis em sua profissão, seja ela qual for.
      a(href='#TODO-INSURANCE_QUOTATION') Cotar agora
      
    article
      .insurance-icon
        i
      h2 Seguro acidentes pessoais
      p.home-insurance-description Eventualidades acontecem, se previna delas.
      a(href='#TODO-INSURANCE_QUOTATION') Cotar agora
      
    article
      .insurance-icon
        i
      h2 Seguro Automóveis
      p.home-insurance-description Proteja seu veiculo de eventualidades como colisão, roubo, furto e muito mais.
      a(href='#TODO-INSURANCE_QUOTATION') Cotar agora
