section.home-brokers#corretores
  .wrapper
    h2 Corretores
    h3 Conheça todas as vantagens que podemos oferecer a você e seus clientes.
    ul
      li
        .advantage-number 1
        p Aumente sua carteira de clientes, recebendo novos clientes através do nosso sistema.
      li
        .advantage-number 2
        p Tenha uma ferramenta de cotação Online para oferecer aos seus clientes.
      li
        .advantage-number 3
        p Disponibilize um aplicativo com a cara da sua corretora para seu cliente.
      li
        .advantage-number 4
        p Reduza seus custos operacionais, contando com a agilidade do nosso sistema.
      li
        .advantage-number 5
        p Realize suas cotações de forma simultânea em diversas seguradoras.
        
    a.call-to-action(href='#TODO_REGISTER') Saiba mais
