extends _layout

block content_outer
  section(class='landing')
    video(src='video/bg.mp4', class='landing-bg', autoplay loop)
    .landing-overlay
      
    .landing-inner
      h2 A agilidade da Internet 
        small com a confiança de um corretor profissional
      a(href='#seguros', class='call-to-action') Cotar seguro
      
    .landing-know-more Conheça nossos seguros

block content
  include _insurances
  include _advantages
  include _about
  include _to_brokers
  include _contact
